/* Your code here */

#songs {
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#playlists {
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imgCss {
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 100% ;
    padding-left: 10px;
    text-align: center;
    align-content: center;
}
.Off {
    
    display: flex;
    font-size: 25px;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    width: 800px;
    height: 80px;
    margin: 10px;
    text-align: end;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    text-align: center;
    background-image: radial-gradient(circle at top right, #b7e2e2 0%, rgb(77, 75, 218) 80%, rgb(113, 22, 173) 100%);
    }

.ShortestDuration{
    padding-block: 35px;   
    color:    rgb(143, 243, 13);  
}
.ShorterDuration {
    padding-block: 35px;   
    color:  rgb(42, 177, 42);   
}
.ShortDuration {
    padding-block: 35px;   
    color: rgb(49, 138, 49);  
}
.MediumDuration {
    padding-block: 35px;   
    color: rgb(201, 139, 7); 
}
.LongDuration {
    padding-block: 35px;   
    color: rgb(185, 64, 8); 
}
.LongererDuration {
    padding-block: 35px;   
    color: rgb(180, 36, 11); 
}
.LongerestDuration {
    padding-block: 35px;   
    color: rgb(255, 38, 0); 
}

.headerMain{
    display: flex;
    font-size: 100px;
    justify-content: center;
}
.header{
    display: flex;
    font-size: 80px;
    justify-content: center;
}

.playlistsList{
    display: flex;
    font-size: 40px;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    width: 700px;
    height: 50px;
    margin: 10px;
    text-align: end;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 35px;
    background-image: radial-gradient(circle at top right, #f3ef0e 0%, rgb(228, 144, 8) 60%, rgb(228, 160, 216) 100%);
}

.On{
    display: flex;
    font-size: 30px;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    width: 1000px;
    height: 100px;
    margin: 10px;
    text-align: end;
    border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  text-align: center;
  background-image: radial-gradient(circle at top right, #bce2b7 0%, rgb(26, 153, 115) 60%, rgb(29, 250, 0) 100%);
}
#add-section{
    text-align:center; 
  
}

#add-button{
    margin: 10px;
    height: 30px;
    width: 50px;
    background-image: radial-gradient(circle at top right, #bce2b7 0%, rgb(26, 153, 115) 60%, rgb(29, 250, 0) 100%);
}
#body{
    background-image: radial-gradient(circle at top right, #ffa949 20%, firebrick 60%, dodgerblue 130%);
}
.controllButton{
   
    width: 5%;
    height: 50%;
   
}
.deleteButton{
font-size:30px;
background-color: red;
border-color: red;
}
.playButton{
    font-size:30px;
    background-color:  rgb(105, 211, 105);
    border-color: rgb(105, 211, 105);
}
   